acronym, abbr {
	border-bottom: 1px dashed #333;
}
acronym, abbr, span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .08em;
}
.pagenavbar {
	text-align: center;
}
.pagenav {
	text-decoration: none;
	color: #39F;
	margin: 1px;
	font: 10px Geneva, Arial, Helvetica, sans-serif;
}
a.pagenav:link, a.pagenav:visited {
	text-decoration: none;
	color: #39F;
	margin: 1px;
	font: 12px Geneva, Arial, Helvetica, sans-serif;
}
a.pagenav:hover {
	color: #e4e4e4;
	text-decoration: none;
}
.small {
	color: #6E5C4F;
	font: bold 9px Geneva, Arial, Helvetica, sans-serif;
}
.smalldark {
	color: #333;
	font: bold 9px Geneva, Arial, Helvetica, sans-serif;
}
.button {
	letter-spacing: 1px;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #888;
	border-right: 1px solid #888;
	font: 10px arial, Helvetica, sans-serif;
}
.inputbox {
	letter-spacing: 1px;
	border: 1px solid #888;
	margin: 2px;
	background: #fafafa;
	font: 10px arial, Helvetica, sans-serif;
}
#body-search .inputbox {
	width: 180px;
}
.searchbox {
	border: 1px solid #888;
	margin: 2px;
	letter-spacing: 1px;
	padding: 0 0 0 5px;
	width: 140px;
	font: 10px arial, Helvetica, sans-serif;
}
.checkbox {
	margin: 2px;
	letter-spacing: 1px;
	padding: 0 0 0 5px;
	clear: both;
	border: 0 solid #DDD;
	width: 10px;
}
.selectbox {
	background: #DDD;
	width: 100%;
	border: 1px solid #999;
	font: normal normal .8em arial, Helvetica, sans-serif;
}
a.image, a.image:hover {
	border: 0;
}
.ontab {
	border-left: outset 1px #DCF2FA;
	border-right: outset 1px #808080;
	border-top: outset 1px #DCF2FA;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: bold;
	color: #FFF;
	background: #323A15;
}
.offtab {
	border-left: outset 1px #E0E0E0;
	border-right: outset 1px #E0E0E0;
	border-top: outset 1px #E0E0E0;
	border-bottom: solid 1px #d5d5d5;
	text-align: center;
	font-weight: normal;
	background: #e5e5e5;
}
.tabpadding {
	padding: 5px;
}
.pagetext {
	visibility: hidden;
	display: none;
	position: relative;
	top: 0;
}
#content .createdate {
	letter-spacing: -1px;
	color: #369;
	margin: 0;
	position: relative;
	top: -3px;
	font: bold 9px arial, Helvetica, sans-serif;
}
#content .modifydate {
	font: bold 9px arial, Helvetica, sans-serif;
	color: #369;
	margin: 0;
}
#content .contentpane td {
	font-size: 12px;
}
a:link, a:visited {
	font-weight: bold;
	color: #369;
}
a:hover {
	text-decoration: none;
}
#contentpane, #content .contentpaneopen td {
	font: normal 12px arial, Helvetica, sans-serif;
}
#content .contentpaneopen .small {
	position: relative;
	left: 45px;
	top: -10px;
}
#content .contentpaneopen td.contentheading {
	position: relative;
	left: 45px;
	font: bold 16px arial, Helvetica, sans-serif;
	color: #369;
	letter-spacing: -1px;
	margin: 1em 0 0;
}
#content .contentheading a:link, #content .contentheading a:visited {
	position: relative;
	left: -45px;
	font: bold 16px Helvetica, Arial, sans-serif;
	color: #369;
	letter-spacing: -1px;
	margin: 1em 0 0;
	padding-left: 16px;
}
html>body #content .contentheading a:link, #content .contentheading a:visited {
	position: relative;
	left: 0;
}
#content .componentheading {
	color: #6E5C4F;
	font: normal bold 14px Geneva, Arial, Helvetica, sans-serif;
}
td.bordering {
	border:none;
}
#sidebar .moduletable {
	width: 180px;
	padding: 0 0 10px;
	border: 0 solid #ddd;
	margin: 0;
}
#sidebar .moduletable th {
	color: #b85b5a;
	text-align: right;
	font-size: 14px;
	font-weight: bolder;
	border-bottom: 1px solid #937966;
}
#content .moduletable {
	width: 480px;
	padding: 0 0 10px;
	border: 0 solid #ddd;
	margin: 0;
}
#content .moduletable th {
	color: #b85b5a;
	text-align: right;
	font-size: 14px;
	font-weight: bolder;
	border-bottom: 1px solid #937966;
}
.moduletable td {
	padding: 2px;
	font-size: 12px;
	font-weight: normal;
	border: 0 solid #ccc;
}
.moduletable li {
	padding-left: 12px;
}
.moduletable p {
	padding: 4px 4px 0;
}
.moduletable a {
	font-size: 10px;
}